
    .text {
        color: red;
    }

    #root tbody {
        text-align: center;
    }

    button {
        width: 4rem;
        font-size: 12px;
        padding-block: 4px;
    }

@media only screen and (max-width:600px){
   #savetaskbutton{

   } 
}